<div class="login-page-container">
    <mf-container >
        <div class="login-form-container">
            <h1>Login</h1>
            
            <br />

            <label for="email">E-mail</label>
            <input name="email" id="email" type="text">

            <br />
            
            <label for="password">Senha</label>
            <input name="password" id="password" type="password">
            
            <br />
        
            <mf-button >Acessar</mf-button>

            <br />
            <br />

            <span>Ainda não tem uma conta? Cadastre-se <a routerLink="/register">aqui</a>. </span>
        </div>
    </mf-container>    
</div>