/* You can add global styles to this file, and also import other style files */
:root {
  --default-white: #ffffff;
  --default-text-color: #3a3a3a;

  --primary-blue: #3d96e9;
  --primary-red: #ea5b5b;
  --light-red: #fff4f4;
  --dark-red: #c74545;
  --primary-green: #45bb6e;
  --light-green: #effff9;
  --dark-green: #3c8d58;
  --primary-orange: #e67225;
  --light-orange: #fff3ea;
  --dark-orange: #c75b25;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  color: var(--default-text-color);
  font-family: 'Arial';
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #f4f7fe;
  font-size: 20px;
}
